.section_about {
    display: grid;
    grid-template-columns: 15% 70%;
    column-gap: 5%;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        border-radius: 25%;
        background-color: white;
    }
}

.about-container {

    h2 {
        text-align: inherit;
    }

    p {
        width: 85%;
        color: black;
        text-align: justify;
    }
}

@media (max-width: 1024px) {
    .section_about {
        display: flex;
        flex-direction: column;
        justify-content: center;

        img{
            width: 10rem;
            height: 10rem;
            margin-bottom: 4rem;
        }
    }

    .about-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
            text-align: center;
        }
        p{
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
}